In [42]:
import pandas as pd
import re
import io

In [2]:
_folder_path = r'C:\Users\jongm\GDrive\CloudData\Finance\Tax\profit-loss'
_fname = r'2021-profit-and-loss-for-tax.xlsx'

#### Exclusion criteria

In [40]:
with open('exclude.txt', 'r', encoding='utf-8') as f:
    exclude = f.readlines()
    exclude = [i.replace('\n', '') for i in exclude]

In [41]:
exclude

['Transfer To Credit Card',
 'Transfer to Credit Card',
 'ACH Transaction - M1 FINANCE (MOFIACH',
 'ACH Transaction - M1 FINANCE (MOFI ACH 0007100028',
 'ACH Transaction - Luminary at One WEB PMTS 0011192468',
 'ACH Transaction - TOYOTA FINANCIAL RETAIL PAY 0002800008',
 'ACH Transaction - Luminary at One SIGONFILE 0011192468']

In [4]:
_file_path = os.path.join(_folder_path, _fname)

In [5]:
df_check = pd.read_excel(_file_path, sheet_name=1)
df_check.head(1)

                 DateÂ  Description  Check #    Type  Amount
0  2021-12-31 00:00:00    Dividend      NaN  Credit    0.21

In [6]:
df_check_income = df_check.query('Amount > 0')
df_check_expense = df_check.query('Amount < 0')
df_check.shape, df_check_income.shape, df_check_expense.shape

((180, 5), (76, 5), (104, 5))

In [16]:
df_check_expense[df_check_expense.Description.isin(exclude)].shape

(38, 5)

In [19]:
df_check_expense[~df_check_expense.Description.isin(exclude)].to_excel('tmp.xlsx', index=False, engine='xlsxwriter')

In [43]:
# df_check_expense[~df_check_expense.Description.isin(exclude)].Description.to_list()